.componentBody {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5em;
    padding-left: 1em;
    min-height: 5em;
    gap: 2em;
    background-color: #707070;
    position: relative;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding-right: 1em;
}
