.componentBody {
    display: flex;
    justify-content: space-between;
    background-color: #464646;
    color: #f1eff2;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addExercise {
    max-width: 40px;
    max-height: 40px;
}

.exerciseName {
    font-weight: bold;
}

.exerciseMuscleGroup {
    font-size: 14px;
}