form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 35em;
    border-radius: 0.5em;
    margin: auto;
    padding: 2em 0;
    background-color: #373737;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    padding: 0.5em 0.5em;
    width: 20em;
    border-radius: 0.5em;
    border: none;
    background-color: #464646;
    color: #f1eff2;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"] {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    padding: 0.5em 0.5em;
    border: none;
    width: 10em;
    border-radius: 0.5em;
    background: #85182a;
    color: #f1eff2;
    font-family: 'Oswald', sans-serif;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:focus {
    background: #6e1423;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:disabled {
    background: #6e6e6e; /* New disabled background color */
    color: #a8a8a8; /* New disabled text color */
    cursor: not-allowed;
}

.form-link {
    color: #ddd;
}

.form-link:visited {
    color: #ddd;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

input[type='submit']{
    padding: 0.5em 0.5em;
    border: none;
    width: 10em;
    border-radius: 0.5em;
    background: #85182a;
    color: #f1eff2;
    font-family: 'Oswald', sans-serif;
}

input[type='submit']:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.offscreen {
    display: none;
}

.instructions {
    width: 20em;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #8a817c;
    color: #373737;
    margin-top: -1em;
}

.instructions img {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
}

.attention-text {
    font-weight: bold;
    padding-left: 1.8em;
}

.attention-text:not(:last-child) {
    margin-bottom: 5px;
}

.errorMessage {
    padding: 0.5em 1em;
    background: #8a817c;
    border-radius: 0.5em;
    color: #373737;
}