.link {
    text-decoration: none;
    padding: 0.7em 1em;
    background-color: #85182a;
    color: #f0ffff;
    font-weight: 400;
    border-radius: 0.5em;
    transition: 0.1s ease-in-out;
}

.link:hover {
    background-color: #6e1423;
}