.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #373737;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 20em;
    margin-top: 2em;
    border-radius: 0.5em;
    padding: 1em;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.image-container {
    width: 10em;
    height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-container img {
    max-width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}

.user-info {
    margin: 0.3em;
    display: flex;
    gap: 0.2em;
}

.profile-name {
    font-size: 1.2em;
    font-weight: bold;
}
