.profile-page {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: #f1eff2;

}

.three-dots {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 0;
    right: 10px;
}




.user-plans {
    display: flex;
    gap: 2em;
}

.plans {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #373737;
    min-height: 20em;
    max-height: 30em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5em;
    padding: 1em;
    gap: 0.5em;
    overflow-y: scroll;
}

.plans h3 {
    margin-left: 0.3em;
}

