.componentBody {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    max-height: 45em;
    overflow-y: scroll;
}


  
