.componentBody {
    display: flex;
    gap: 2em;
    background-color: #707070;
    padding: 0.5em;
    border-radius: 0.5em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 25em;
    justify-content: space-between;
}

.componentBody h5 {
    font-size: 1.3em;
    font-weight: 300;
}

.setInfoContainer {
    padding-left: 1em; 
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.setInfoContainer div {
    display: flex;
    gap: 0.5em;
}

.radioTileGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

.inputContainer {
    position: relative;
    height: 2.5em;
    width: 2.5em;
    margin: 0.5em;
}

.inputContainer input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.radioTile {
    background-color: #464646;
    border-radius: 0.5em;
    transform: all 300ms ease;
    display: flex;
}

.takeAway:checked + .radioTile {
    background-color: #28231D;
}

.takeAway:hover + .radioTile {
    background-color: #28231D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.done:checked + .radioTile {
    background-color: #6e1423;
}

.done:hover + .radioTile {
    background-color: #6e1423;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.radioImg {
    height: 2.5em;
    width: 2.5em;
}
