form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 35em;
    border-radius: 0.5em;
    margin: 0 auto;
    padding: 2em 0;
    background-color: #373737;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    padding: 0.5em 0.5em;
    width: 20em;
    border: none;
    border-radius: 0.5em;

    background-color: #464646;
    color: #f1eff2;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"] {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='submit']{
    padding: 0.5em 0.5em;
    border: none;
    width: 10em;
    border-radius: 0.5em;
    background: #85182a;
    color: #f1eff2;
    font-family: 'Oswald', sans-serif;
}

input[type='submit']:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='submit']:focus {
    background: #6e1423;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-link {
    color: #ddd;
}

.form-link:hover {
    color: #696969	;
}